.animation {
    animation-duration: 0.5s;
    animation-name: slidein;
}

@keyframes slidein {
from {
    margin-top: -200px;
    width: 300%;
}

to {
    margin-top: 0;
    width: 100%;
}
}


/* Estilos generales para el cuerpo de la página */
/* 
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} */

h1 {
    margin:0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: #112e42;
    color:#dbdbdb;
}

button, input[type="button"], input[type="submit"]{
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font: inherit;
}

a {
    text-decoration: none;
}

a:link, :visited{
    color: #dbdbdb;
}

header{
    
    z-index: 100;
    position: relative;
}

nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    max-height: 2.5em;
    margin-left: 1vw;
}
/* 
.buscador{
    align-self: center;
}

.buscador input[type="search"]{
    background-color: #0079bf;
    border: none; 
    color: #fff;
    border: solid hsl(180, 1%, 100%);
    border-width:1px 1px 1px 1px;
    border-radius: 2%;
}

.buscar-btn, .buscador button{
    background-color: #0079bf;
    max-height: 1.5em;
    cursor: pointer;
    align-self: center;
} */

.search-form {
    text-align: center; /* Centra el formulario */
    align-self: center;
  }
  
  .search-bar {
    display: inline-flex;
    align-items: center;
    background-color: #dbdbdb;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .search-bar input {
    border: none;
    padding: 10px;
    flex-grow: 1;
    border-radius: 20px;
  }
  
  .search-bar button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .search-bar img {
    width: 20px;
    margin-right: 10px;
  }

.usuario{
    display: flex;
}

.notificaciones-btn{
    
    display: flex;
    align-self: center;
    align-items: center;
    margin-right: 1em;
    cursor: pointer;
    position: relative;
}

.bell{
    max-height: 1.7em;
}

.yellow-circle{
    display: none;
    position: absolute;
    height: 0.8em;
    right:-7px;
    top:-5px;
}

.notificaciones{
    display: none;
    position: absolute;
    top:75px;
    right: 5px;
    background-color: gray;
    width: 380px;
    max-height: 400px;
    z-index: 100;
    padding-left: 20px;
    overflow: auto;
}

.notificacion{
    display: flex;
}

.yellow-circle-notif{
    height: 0.8em;
}

.profile-img{
    padding-left: 0.5vw;
    padding-right: 1vw;
    max-width: 2em;
    align-self: center;
}

/* .panel{
    display: none;
    width: 200px;
    height: 300px;
    position:absolute;
    top:75px;
    right: 5px;
    background-color: gray;
    z-index: 100;
} */

.panel {
    position: absolute;
    top: 60px; /* Ajusta la distancia desde la parte superior según tus necesidades */
    right: 10px; /* Ajusta la distancia desde la derecha según tus necesidades */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    color: #202124;
    text-align: center;
    width: 200px;
}

.panel a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: block;
    padding: 20px;
}

.panel a:hover {
    background-color: #f4f4f4;
}

/* Estilos para el contenedor de la barra lateral y la ventana principal */
.container {
    display: flex; /* Uso de flexbox */
    height: 100%;
}

/* Estilos para la barra lateral izquierda */
aside {
    background-color: #081b29;
    color: #dbdbdb;
    width: 10vw;
    padding: 0;
    position: relative;
    border-right: 1px solid #10446b;
}

aside h2 {
    font-size: 1.2rem;
    padding: 10px;
    margin:0;
    z-index: 98;
    position: relative;
}

aside a{
    position: relative;
    z-index: 100;
    display: flex;
    margin-top: 10px;
}

aside a img{
    max-height: 2em;
    align-self: center;
    margin-left: 9px;
}

aside a:hover{
    background-color: #5f6368;
}

aside p{
    margin: 10px;
}

aside button{
    margin-left:10px;   
}

.cover{
    background-color: #081b29;
    position:absolute;
    height: 50px;
    width: 100%;
    top:0;
    left:0;
    z-index: 99;
}

img.nueva-lista{
    max-height: 25px;
    cursor: pointer;
    position:absolute;
    z-index: 100;
    right:10px;
    top:22px;
    transition: filter 0.3s ease-out;
}

img.nueva-lista:hover{
    filter: brightness(2);
}

.crear-lista{
    display: none;
    position: relative;
    max-width: 167px;
    max-height: 200px;
    z-index: 1;
    padding: 10px;
    border: 2px solid hsl(0, 0%, 45%);;
}

.etiqueta {
    padding: 0;
    border: none;
    background-color: #081b29;
    color: #dbdbdb;
}

.nueva-etiqueta button{
    background-color: #081b29;
    margin-top: 5px;
}

.nueva-etiqueta button img{
    max-width: 20px;
}

.crear-etiqueta{
    padding: 7px;
    border: 2px solid hsl(0, 0%, 45%);;
    border-radius: 5px;
}

.crear-etiqueta button, .crear-lista button{
    background-color: #00abf0;
    padding: 3px;
    color:black;
    border-radius: 3px;
}

.crear-etiqueta button:hover, .crear-lista button:hover{
    background-color: #4ecdff;
}

main{
    flex:1;
    padding: 1%;
    overflow-y: auto;
}

/* LISTAS  */

/* Estilos para la ventana principal */
.ventanaprincipal.listas {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    max-width: 100%; */
    columns: 4;
    column-gap: 1.5%;
}

.lista{
    padding:1%;
    width: 100%;
    border: solid hsl(0, 0%, 31%);
    border-width:2px;
    position:relative;
    border-radius: 10px;
    /* display: flex;
    flex-direction: column;
    align-self: flex-start; */
    break-inside: avoid;
    margin-bottom: 4%;
    background-color: #202124;
    z-index: 1;
}

.lista button, .lista input[type="button"], .lista input[type="submit"]{
    background-color: #202124;
    color: #dbdbdb;
}

.lista .btn {
    padding: 3px;
    max-width: 1.0rem;
    margin: 0;
    margin-right: 2px;
}

.lista .btn:hover{
    background-color: #5f6368;
    border-color: #e8eaed;
    border-radius: 50%;
    border-style: none;
    border-width: 0.5px;
    user-select: none;
}

.top-menu{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 98%;
    z-index: 2;
}

.drag{
    cursor:move;
}

.drag img{
    max-height: 1.5em;
}

.top-right-menu{
    display: flex;
    align-items: center;
    position: relative;
}

.share-img{
    max-height: 1.3em;
    padding-right: 3px;
    cursor: pointer;
}

.miembros{
    display: none;
    position: absolute;
    top:30px;
    right:15px;
    margin: 0;
    padding: 10px;
    background-color:#202124;
    border: solid 1px #5f6368;
    z-index: 100;
    overflow: auto;
}

.owners{
    padding-bottom: 5px;
}

.colaboradores{
    border-top: solid 1px #5f6368;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.lectores{
    border-top: solid 1px #5f6368;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#editar-miembros{
    width: 200px;
    background-color: #0079bf;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
}

.rotulo{
    padding: 5px;
    margin:5px;
    margin-top:0;
    margin-bottom:0;
    border-radius: 3px;
}

.rotulo button{
    background-color: rgba(0, 0, 0, 0);
}

.cover-lista{
    position: absolute;
    background-color: #202124;
    top:0;
    left:0;
    width: 100%;
    height: 80px;
    z-index: 1;
    border-radius: 10px;
}

.cover-lista-2{
    display: none;
    position: absolute;
    background-color: black;
    top:-18px;
    left:0;
    width: 100%;
    height: 18px;
    z-index: 1;
}

.cabecera-lista{
    position: inherit;
    margin-top: 35px;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 1;
}

.titulo{
    word-wrap: break-word;
    border-bottom: 2px solid hsl(0, 0%, 31%);;
    padding-bottom: 15px;
}

meter{
    padding-left: 3%;
    background: transparent;
}

.opcionesbtn {
    color: white;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    max-height: 1.5em;
  }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#202124;
    border: solid 1px #5f6368;
    min-width: 160px;
    overflow: auto;
    /* border-width: 0; */
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 60%), 0 2px 6px 2px rgb(0 0 0 / 30%);
    border-radius: 4px;
    z-index: 1;
    right: 0px;
}

.dropdown-content button {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 160px;
}

.paper-btn{
    background:none;
    border-style:none;
    margin:0;
    cursor: pointer;
    user-select: none;
    border-bottom: 1px solid #5f6368;
}

/* .paper-btn:not(:last-of-type){
    
} */

.paper-btn:hover {background-color: #5f6368;}

.opcionbtn{
    padding: 0;
    border: none;
}

.ventana-etiqueta{
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    width: 99%;
    height: 99%;
    z-index: 100;
    position:absolute;
}

.modificar-etiqueta{
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #fff;
    z-index: 100;
    padding: 15px;
    border-radius: 5px;
    color: black;
}

.modificar-etiqueta button{
    background-color: #0079bf;
    padding: 3px;
    border-radius: 5px;
    color: #fff;
}

.starimg{
    position: absolute;
    max-height: 1em;
}

.paper-btn.opcionbtn.eliminar{
    background-color: red;
}

.ventana_confirmacion, .ventana_compartir {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.confirmacion-contenido {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: black;
    position: relative;
}

/* Para ocultar el fondo cuando se muestra la ventana de confimacion */
.ventana_confirmacion-activo, .ventana_compartir-activo{
    display: flex;
}

.ventana_confirmacion-activo button{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 120px;
    border: 1px solid black
}

.confirmar_compartir{
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    width: 120px;
    display: inline-flex;
    text-align: center;
    background-color: #00abf0;
    margin-left: 10px;
    border-radius: 5px;
}

.miembro{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.editar-miembro{
    max-width: 1.4em;
}

.opciones-miembro{
    display: none;
    position: absolute;
    right: 0;
    z-index: 2;
}

.confirmacion-botones{
    display: flex;
    justify-content: center;
}

.confirmar{
    margin-right: 15px;
}

.cancelar_eliminar{
    display:flex;
}

.terminar_compartir-btn{
    position: absolute;
    top:0;
    right:0;
    background-color: none;
}

.terminar_compartir-btn img{
    cursor: pointer;
    max-width: 2em;
}

@keyframes maximize {
    from {
        margin-top: -200px;
        width: 300%;
    }
    
    to {
        margin-top: 0;
        width: 100%;
    }
}

@keyframes minimize {
    from {
        margin-top: 0;
        width: 300%;
    }
    
    to {
        margin-top: -200px;
        width: 100%;
    }
}

.maximizando, .maximizando p, .maximizando div{
    position:relative;
    animation-duration: 0.1s;
    animation-name: maximize;
    z-index: 0;
}

.minimizando, .minizando p{
    position:relative;
    animation-duration: 0.1s;
    animation-name: minimize;
    z-index: 0;
}

ul{
    list-style-type: none;
    padding-inline-start: 30px;
}

.bottom-menu{
    margin-top: auto;
}

/* .agregar-tarea{
    display: flex;
    justify-content: center;
} */

.agregar-tarea {
    text-align: center; /* Centra el formulario */
    align-self: center;
  }
  
  #agregar-bar {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    border: solid 2px hsl(0, 0%, 45%);
    border-radius: 5px;
  }
  
  #agregar-bar button {
    background: none;
    cursor: pointer;
    height: 33px;
  }

  #agregar-bar input{
    border: none;
    color:#ddd;
  }
  
  #agregar-bar img {
    width: 15px;
    margin-right: 10px;
    margin-left: 10px;
  }


.minimizada{
    display: none;
}


.lista input[type="text"]{
    padding: 8px;
    background-color: #202124;
    border: solid hsl(180, 1%, 65%);
    border-width:1px;
    border-radius: 2px;
    color:#ddd;
}

.retract-btn{
    display: flex;
    justify-content: center;
}

.retract-btn img{
    max-height: 1.3em;
    
}

.retract-btn:hover{
    box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.5);
}

.minimizar-btn{
    background-color: #202124 ;
}

/* ITEM */

.cabecera-item{
    max-width: 100%;
    position: relative;
    display: flex;
}

.item-texto{
    white-space: pre-line; /* Permite saltos de línea en espacios en blanco */
    word-wrap: break-word;
    margin-bottom:13px;
    margin-top: 0;
    max-width: 90%;
    padding-left: 8px;
}

.checkbox {
    position: absolute;
    left: -20px;
    padding: 0;
    border: none;
    background-color: #202124;
}

.checkbox.no-lector{
    cursor: pointer;
}

.checked{
    max-height: 22px;
}

.unchecked{
    max-height: 20px;
}

.edicion-texto{
    display: none;
}

.item-menu{
    display: flex;
    position: absolute;
    right:0;
    visibility: hidden;
}

.crear-subitem{
    display: none;
}

.crear-subitem img{
    width: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

/* CALENDARIO */

.calendario-trello {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.encabezado-dia {
    font-weight: bold;
    text-align: center;
    flex: 0 0 calc(13% - 20px); /* Calcula el ancho para un máximo de 7 tarjetas por fila */
    margin: 10px;
    background-color: #0079bf;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.dia {
    flex: 0 0 calc(13% - 20px); /* Calcula el ancho para un máximo de 7 tarjetas por fila */
    height: 150px;
    margin: 10px;
    background-color: #112e42;
    color: #fff;
    padding: 6px;
    border-radius: 5px;
    border:4px solid #0079bf;
}

.dia:hover{
    background-color: #0079bf;
}

.dia.hoy{
    border:4px solid white;
}

.dia.extra{
    opacity: 0.5;
}

/* Estilos para la barra de navegación superior */
header {
    background-color: #026aa7;
    color: #fff;
    padding: 10px;
    border-bottom: 3px solid #004e7a;
}

.suscripcion-btn{
    position: absolute;
    align-self: center;
    right:140px;
    padding:10px;
    background-color: rgb(197, 29, 29, 0.9);
    border: 1px solid rgb(216, 0, 0);
    border-radius: 10px;
}

/* SUSCRIPCION */

.ventana-suscripcion{
    text-align: center;
    height: 95vh;
}

.ventana-suscripcion h1{
    margin-top: 10vh;
}

.subscription-panel {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.subscription-card {
    border: 5px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.subscription-card h2 {
    color: #333;
}

.subscription-card p {
    color: #666;
}

.precio-mes{
    font-size: 40px;
    margin-bottom: 0;
}

.plan-btn {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.mp-mensual-btn{
    display: none;
    margin-top: 20px;
}

.mp-anual-btn{
    display: none;
    margin-top: 20px;
}

.disabled{
    pointer-events: none;
    opacity: 0.7;
}

.selected{
    border: solid #007bff 5px;
}

/* Estilos para el pie de página (opcional) */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.show {display: block;}

.hide {display: none;}

.panel.show{
    display: flex;
    flex-direction: column;
}