.animation {
    animation-duration: 0.5s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-top: 100%;
      width: 300%;
    }
  
    to {
      margin-top: 0%;
      width: 100%;
    }
  }


/* Estilos generales para el cuerpo de la página */
/* 
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} */

h1 {
    margin:0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Roboto,Arial,sans-serif;
    background-color: #202124;
    color:#e8eaed;
}

button{
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:link, :visited{
    color: #fff;
}

nav{
    display: flex;
    justify-content: space-between;
}

.logo{
    max-height: 3em;
}

.buscador{
    align-self: center;
}

.buscador input[type="search"]{
    background-color: #0079bf;
    border: none; 
    color: #fff;
    border: solid hsl(180, 1%, 100%);
    border-width:1px 1px 1px 1px;
    border-radius: 2%;
}

.usuario{
    display: flex;
}

.notificaciones-btn{
    
    align-self: center;
    margin-right: 1em;
    cursor: pointer;
    position: relative;
}

.bell{
    max-height: 1.5em;
}

.yellow-circle{
    display: none;
    position: absolute;
    height: 0.8em;
    right:-7px;
    top:-5px;
}

.notificaciones{
    display: none;
    position: absolute;
    top:75px;
    right: 5px;
    background-color: gray;
    width: 380px;
    max-height: 400px;
    z-index: 100;
    padding-left: 20px;
    overflow: auto;
}

.notificacion{
    display: flex;
}

.yellow-circle-notif{
    height: 0.8em;
}

.profile-img{
    padding-left: 0.5vw;
    max-width: 2em;
    align-self: center;
}

.panel{
    display: none;
    width: 200px;
    height: 300px;
    position:absolute;
    top:75px;
    right: 5px;
    background-color: gray;
    z-index: 100;
}

/* Estilos para el contenedor de la barra lateral y la ventana principal */
.container {
    display: flex; /* Uso de flexbox */
    height: 100%;
}

/* Estilos para la barra lateral izquierda */
aside {
    background-color: #026aa7;
    color: #fff;
    width: 10vw;
    padding: 10px;
}

.etiqueta {
    padding: 0;
    border: none;
    background-color: #026aa7;
    color: white;
}

main{
    flex:1;
    padding: 1%;
    overflow-y: auto;
}

/* LISTAS  */

/* Estilos para la ventana principal */
.ventanaprincipal.listas {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    max-width: 100%; */
    columns: 4;
    column-gap: 1.5%;
}

.lista{
    padding:1%;
    width: 100%;
    border: solid hsl(180, 1%, 65%);
    border-width:1px 1px 1px 1px;
    position:relative;
    border-radius: 2%;
    /* display: flex;
    flex-direction: column;
    align-self: flex-start; */
    break-inside: avoid;
    margin-bottom: 4%;
}

.top-menu{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.drag{
    cursor:move;
}

.drag img{
    max-height: 1.5em;
}

.top-right-menu{
    display: flex;
    align-items: center;
    position: relative;
}

.share-img{
    max-height: 1.3em;
    padding-right: 3px;
    cursor: pointer;
}

.miembros{
    display: none;
    position: absolute;
    top:30px;
    right:15px;
    margin: 0;
    padding: 10px;
    background-color:#202124;
    border: solid 1px #5f6368;
    z-index: 100;
    overflow: auto;
}

.owners{
    padding-bottom: 5px;
}

.colaboradores{
    border-top: solid 1px #5f6368;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.lectores{
    border-top: solid 1px #5f6368;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.rotulo{
    padding: 5px;
    margin:5px;
    margin-top:0;
    margin-bottom:0;
}

.rotulo button{
    background-color: rgba(0, 0, 0, 0);
}

.cabecera-lista{
    margin-top: 35px;
    padding-left: 5%;
    padding-right: 5%;
}

.titulo{
    word-wrap: break-word;
}

meter{
    padding-left: 3%;
    background: transparent;
}

.opcionesbtn {
    color: white;
    padding: 5px;
    padding-right: 7px;
    font-size: 10px;
    border: none;
    cursor: pointer;
    max-height: 1.3em;
  }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#202124;
    border: solid 1px #5f6368;
    min-width: 160px;
    overflow: auto;
    /* border-width: 0; */
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 60%), 0 2px 6px 2px rgb(0 0 0 / 30%);
    border-radius: 4px;
    z-index: 1;
    right: 0px;
}

.dropdown-content button {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 160px;
}

.paper-btn{
    background:none;
    border-style:none;
    margin:0;
    cursor: pointer;
    user-select: none;
}

.paper-btn:not(:last-of-type){
    border-bottom: 1px solid #5f6368;
}

.paper-btn:hover {background-color: #5f6368;}

.opcionbtn{
    padding: 0;
    border: none;
}

.ventana-etiqueta{
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    width: 99%;
    height: 99%;
    z-index: 100;
    position:absolute;
}

.modificar-etiqueta{
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: gray;
    z-index: 100;
}


.starimg{
    position: absolute;
    max-height: 1em;
}

.eliminar{
    background-color: red;
}

.ventana_confirmacion, .ventana_compartir {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.confirmacion-contenido {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: black;
}

/* Para ocultar el fondo cuando se muestra la ventana de confimacion */
.ventana_confirmacion-activo, .ventana_compartir-activo{
    display: flex;
}

.ventana_confirmacion-activo button, .ventana_compartir-activo button{
    color: black;
}

.miembro{
    display: flex;
    justify-content: space-between;
}

.opciones-miembro{
    display: none;
    position: absolute;
}

.confirmacion-botones{
    display: flex;
    justify-content: center;
}

.cancelar_eliminar{
    display:flex;
}

ul{
    list-style-type: none;
    padding-inline-start: 30px;
}

.bottom-menu{
    margin-top: auto;
}

.bottom-menu form{
    display: flex;
    justify-content: center;
}

.lista input[type="text"]{
    background-color: #202124; /* Cambia "#fondo" al color de fondo de tu página */
    border: none; /* Elimina el borde del input */
    color: #fff; /* Cambia al color de texto deseado */
    border: solid hsl(180, 1%, 65%);
    border-width:1px 1px 1px 1px;
    border-radius: 2%;
}

.retract-btn{
    display: flex;
    justify-content: center;
}

.minimizada{
    display: none;
}

/* ITEM */

.cabecera-item{
    max-width: 100%;
    position: relative;
    display: flex   ;
}

.item-texto{
    white-space: pre-line; /* Permite saltos de línea en espacios en blanco */
    word-wrap: break-word;
    margin-bottom:13px;
    margin-top: 0;
    max-width: 90%;
    padding-left: 8px;
}

.checkbox {
    position: absolute;
    left: -20px;
    padding: 0;
    border: none;
    background-color: #202124;
}

.checkbox.no-lector{
    cursor: pointer;
}

.checkbox img{
    max-height: 20px;
}

.item-texto{
    display: none;
}

.edicion-texto{
    display: none;
}

.item-menu{
    display: flex;
    position: absolute;
    right:0;
    visibility: hidden;
}

.crear-subitem{
    display: none;
}

/* CALENDARIO */

.calendario-trello {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.encabezado-dia {
    font-weight: bold;
    text-align: center;
    flex: 0 0 calc(13% - 20px); /* Calcula el ancho para un máximo de 7 tarjetas por fila */
    margin: 10px;
    background-color: #0079bf;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.dia {
    flex: 0 0 calc(13% - 20px); /* Calcula el ancho para un máximo de 7 tarjetas por fila */
    height: 150px;
    margin: 10px;
    background-color: #0079bf;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.dia.hoy{
    background-color: turquoise;
}

.dia.extra{
    opacity: 0.5;
}

/* Estilos para la barra de navegación superior */
header {
    background-color: #0079bf;
    color: #fff;
    padding: 10px;
}

/* Estilos para el pie de página (opcional) */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.show {display: block;}

.panel.show{
    display: flex;
    flex-direction: column;
}